*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("/sp.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

 h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    color: black;
    position: absolute;
    top: 10vh;
    right: 10vh;
   
}

#scoreBox{
    position: absolute;
    top: 120px;
    right: 110px;
    font-size: 35px;
    color: white;
    margin-top: 5px;
    font-weight: 800;
    border: 2px solid transparent;
    border-radius: 9px;
    background-color: red;
    padding: 5px;
}

#hiscoreBox{
    position: absolute;
    top: 180px;
    right: 100px;
    font-size: 35px;
    color: white;
    margin-top: 5px;
    font-weight: 800;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 9px;
    background-color: red;
    padding: 5px;
}

#board{
    background: linear-gradient(rgb(37, 203, 37), rgb(223, 223, 48));
    opacity: 0.9;
    width: 90vmin;
    height: 92vmin;
    border-radius: 5px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    justify-content: flex-end;
}

.head{
    background: linear-gradient(rgb(128, 41, 41), rgb(212, 212, 42));
    border: 2px solid rgb(113, 20, 113);
    transform: scale(1.04);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;

}

.food{
    background: linear-gradient(red , purple);
    border: .25vmin solid white;
    border-radius: 7px;

}